
/* Chat Page Layout */
.chat-page {
  display: flex;
  flex-direction: column;

  height: 80vh;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

}

.chat-header {
  background-color: var(--dark-color);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.chat-page  .product-info {
  display: flex;
  align-items: center;
}

.chat-page  .product-info img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 8px;
}

.product-details h3 {
  margin: 0;
  font-size: 18px;
}

.product-price {
  color: var(--white-color);
  font-weight: bold;
}

.chat-header h2 {
  margin-left: 20px;
  font-size: 22px;
  font-weight: 500;
}

/* Chat Messages Area */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  height: 100%;
}

.messages-area {
  height: 200px;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 15px;
  padding-right: 10px;
  background-color: #ecf0f1;
  border-radius: 10px;
  padding-left: 10px;
  
  /* Custom scrollbar styling */
  scrollbar-width: thin; 
  scrollbar-color: var(--dark-color) #ecf0f1; 
}

.messages-area::-webkit-scrollbar {
  width: 8px; 
}

.messages-area::-webkit-scrollbar-track {
  background-color: #ecf0f1; 
  border-radius: 10px;
}


.messages-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message-bubble {
  padding: 10px 15px;
  border-radius: 12px;
  max-width: 70%;
  margin-bottom: 10px;
  font-size: 14px;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background-color: var(--primary-color);
  color: white;
}

.received {
  align-self: flex-start;
  background-color: var(--btn-hover);
  color: var(--white-color)
}




@keyframes typing {
  0% {
    content: "User is typing.";
  }
  33% {
    content: "User is typing..";
  }
  66% {
    content: "User is typing...";
  }
}

/* Input Area */
.input-area {
  display: flex;
  gap: 10px;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
}

.message-input {
  width: 85%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: #2c3e50;
  transition: all 0.3s ease;
}

.message-input:focus {
  border: 4px solid var(--primary-color);
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

.send-button:hover {
  background-color: var(--secondary-color);
}

/* Loading Spinner */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #3498db;
}

.no-messages {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #95a5a6;
}

/* Error Message */
.error-message {
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}
