*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  width: 100%;
}


:root{
  --primary-color: #e74c3c;
  --btn-hover : #c0392b;
  
}