.details-container {
    height: max-content;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
}

.details-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.details-top-wrapper .top-left {
    display: flex;
    cursor: pointer;
}

.top-left .icon {
    font-size: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.top-left .icon:hover {
    transform: scale(1.2);
    color: var(--btn-hover)
}

.details-flex-wrapper {
    display: grid;
    grid-template-columns: 10% 40% 40%;
    width: 100%;
justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px; 
    transition: all 0.5s ease;


}
.details-image-split{
    display: flex;
    flex-direction: column;
gap: 20px;

justify-content: space-between;

}
.details-image-split div{
  display: flex;
  justify-content: center;
  border-radius: 5px;
     height: 100px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.details-image-split div:hover{
    border: 2px solid var(--primary-color);
    padding: 5px;
}

.split-1  img{
    transform: rotate(180deg);
}
.split-2 img {
    transform: rotate(90deg);
   
}

.split-3 img {
    object-fit: cover;
}

.details-image-split  img {
    width: 80%;
    height:  100%;
    cursor: pointer;
   
    border-radius: 8px;
 
    transition: transform 0.3s ease-in-out;
}
.details-image-wrapper img {
    width: 80%;
    height: 350px;
    cursor: pointer;

    border-radius: 8px;

    transition: transform 0.3s ease-in-out;
}

.details-image-wrapper img:hover {
    transform: scale(1.05);
}

.details-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-image-wrapper,
.details-info-wrapper {
   
    padding: 20px;
 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.details-image-wrapper:hover,
.details-info-wrapper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.details-info-wrapper .details-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: max-content;
    background-color: white;
    border-radius: 8px;
}

.details-product-info h2 {
    font-size: var(--md-md);
    font-weight: 600;
    margin-bottom: 10px;
    
}

.details-product-info p {
    font-size: var(--md-sm);
    color: #555;
    margin-bottom: 20px;
}

.details-product-info .price {
    font-size: var(--md-sm);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.details-product-info button {
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: .5rem;
    transition: background-color 0.3s ease;
}

.details-product-info button:hover {
    background-color: var(--secondary-color);
}

.details-product-info button:active {
    transform: scale(0.98);
}

/* Animation for fading in */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .details-flex-wrapper {
grid-template-columns: 100%;
        height: auto;
        grid-template-areas: "details-image-wrapper"
        "details-image-split"
        "details-info-wrapper";
     
    }
    .details-image-split{
        grid-area: details-image-split;
        flex-direction: row;
    }
    .details-image-wrapper{
        grid-area:   details-image-wrapper;
        height: 400px;

    }
    .details-info-wrapper{
        grid-area: details-info-wrapper;
    }
    .details-image-wrapper, .details-info-wrapper {
        width: 100%;
        padding: 15px;
    }
    .details-image-split div{
      
           height: 80px;
     
      }
      
    .details-container {
        padding: 20px;
    }

}


@media (max-width: 468px){

    .details-product-info h3 {
        font-size:var(--sm-sm);
    }

    .details-product-info p {
        font-size:var(--sm-xs);
    }

    .details-product-info button {
        font-size:var(--sm-sm);
        padding: 10px;
    }
    .details-product-info h2 {
        font-size: var(--sm-md);
 
        
    }
    
}

@media (min-width: 768px){

    .details-product-info h3 {
        font-size:var(--md-md);
    }

    .details-product-info p {
        font-size:var(--md-md);
    
    }

    .details-product-info button {
        font-size:var(--md-sm);
        padding: 10px;
    }
    .details-product-info h2 {
        font-size: var(--md-md);
 
        
    }
    .seller-info p{
        overflow: hidden;

    }
}

@media (min-width: 1024px){

    .details-product-info h3 {
        font-size:var(--lg-md);
    }

    .details-product-info p {
        font-size:var(--lg-sm);
    
    }

    .details-product-info button {
        font-size:var(--lg-sm);
        padding: 10px;
    }
    .details-product-info h2 {
        font-size: var(--lg-md);
 
        
    }
    .seller-info p{
        overflow: hidden;

    }
}